.info h2:hover, p:hover{
   color:yellow;

 }

 h1{
   border-bottom: 1px solid #999;
   color :#000;
   padding-bottom: 5px;
   font-family:OpenSansI;
   font-size:25px;
}

p{
   color :#999;
   font-family:OpenSansI;

  }